* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
}

ul {
  list-style: none;
}

.accordion {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
}

.accordion-title {
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  border-bottom: 1px solid #aaa;
}

.accordion-title::after {
  content: '+';
  position: absolute;
  right: 1rem;
  transition: 0.2s linear;
}

.accordion-title.is-open::after {
  transform: rotate(45deg);
}

.accordion-content {
  font-size: 1.1rem;
  background-color: #aaa;
  max-height: 0px;
  overflow: hidden;
  transition: 0.2s linear;
}
